/* BASE STYLES */
body {
  font-family: var(--main-font);
  color: #434455;
  background-color: var(--main-background-color-light);
}

/* RESET STYLES */
.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
}

.header {
  font-family: var(--secondary-font);
}

.header-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:focus,
.header-link:hover {
  color: #404bbf;
  /*color: #4d5ae5;*/
}

.address-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
}

.address-link:focus,
.address-link:hover {
  color: #4d5ae5;
}

.hero {
  background-color: var(--secondary-background-color-dark);
  color: var(--main-text-color-light);
}

.hero > h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer {
  font-family: var(--secondary-font);
}

:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-background-color-light: #ffffff;
  --secondary-background-color-dark: #2e2f42;
  --main-text-color-light: #ffffff;
  --main-button-background-color: #4d5ae5;
}

.logo {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-hdr {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo-ftr {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.btn {
  background-color: var(--main-button-background-color);
  color: var(--main-text-color-light);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn:focus,
.btn:hover {
  cursor: pointer;
  background-color: #404bbf;
}

.footer {
  background-color: var(--secondary-background-color-dark);
  color: var(--main-text-color-light);
}
