/* BASE STYLES */
body {
  font-family: var(--main-font);
  color: #434455;
  background-color: var(--main-background-color-light);
}

/* RESET STYLES */
.link {
  text-decoration: none;
  font-style: normal;
}

.list {
  list-style: none;
  font-style: normal;
}

.header {
  font-family: var(--secondary-font);
}

.header-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-link:focus,
.header-link:hover {
  color: #404bbf;
  /*color: #4d5ae5;*/
}

.address {
  font-style: normal;
}

.address-link {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-link:focus,
.address-link:hover {
  color: #404bbf;
}

.hero {
  background-color: var(--secondary-background-color-dark);
  color: var(--main-text-color-light);
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.overview-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-dark);
}

.overview-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.doing-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: var(--secondary-text-color-dark);
}

.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-dark);
}

.team-list {
  background-color: #ffffff;
}

.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-background-color-dark);
}

.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-background-color-light: #ffffff;
  --secondary-background-color-dark: #2e2f42;
  --main-text-color-light: #ffffff;
  --secondary-text-color-dark: #2e2f42;
  --main-button-background-color: #4d5ae5;
  --list-text-color: #f4f4fd;
  --button-seconday-background-color: #4f4ffd;
}

.logo {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}

.logo-hdr {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2e2f42;
}

.logo-ftr {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #f4f4fd;
}

.btn-main {
  background-color: var(--main-button-background-color);
  color: var(--main-text-color-light);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn-secondary {
  background-color: var(--button-seconday-background-color);
  color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.btn-main:focus,
.btn-main:hover {
  cursor: pointer;
  background-color: #404bbf;
}

.btn-secondary:focus,
.btn-secondary:hover {
  cursor: pointer;
}
.footer {
  font-family: var(--secondary-font);
  background-color: var(--secondary-background-color-dark);
  color: var(--main-text-color-light);
}

.footer-text {
  line-height: 1.5;
  color: var(--list-text-color);
  letter-spacing: 0.02em;
}
